@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #000;
}
.container {
    display: flex;
    width: 90vw;
    height: 100vh;
    margin: auto;
    margin-top: 40px;
    background-color: #fbfbfc;
}
.cover{
    width: 100%;
    height: 100%;
    display: flex;
}
.img{
    width: 45%;
    height: 100%;
    background: url('./top-universes-big.jpg') center center/cover no-repeat;;
}
.img h1{
    margin: 25em 0 0  30px;
    color: #fff;
    font-weight: 400;
    font-family: 'Inter';
}
.img img{
    border-radius: 50%;
    margin: 15px 30px;
}
.form{
    width: 40%;
    height: 90%;
    border-radius: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    background: #FFFFFF;
    box-shadow: 2px 5px 10px rgba(184, 182, 182, 0.5);
    border-radius: 20px;
}
#main-form{
    display: block;
}
#Metric, #Imperial{
    color: #000;
    font-size: 20px !important;
    margin-bottom: 5px !important;
    font-family: 'Inter', sans-serif !important;
    margin-left: 140px !important;
}
label{
    font-size: 20px;
    position: absolute;
    line-height: 35px;
    font-weight: bold;
    color: #151515;
    margin-left: 50px;
}

input{
    width: 50%;
    height: 40px;
    border: 1px solid rgb(241, 224, 224);
    display: flex;
    margin:40px 0 0 17em;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.result{
    color: #b9b9b9;
    font-size: 20px;
    display: flex;
    font-weight: 700;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}
#btn{
    width: 80%;
    height: 60px;
    margin: 100px 0 0 60px;
    font-size: 25px;
    border-radius: 5px;
    border: none;
    background-color: #24c9ec;
    color: #fff;
}
#btn:hover{
    background-color: white;
    color:#1FBCDD;
    border: 1px solid #1FBCDD;
}


@media (orientation: portrait) {  /* smartphones, iPhone, portrait 480x320 phones */ 
    body{
        width: 100%;
        height: 100vh;
    }
    .container {
            display: flex;
            flex-direction: column;
        width: 90vw;
        height: 100vh;
        margin: auto;
        margin-top: 40px;
    }
    .cover{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .img{
        width: 100%;
        height: 100%;
    }
    .form{
        width: 100%;
        height: 140%;
    display: flex;
    align-items: center;
    }
    .img h1{
        margin: 3em 0 0  30px;
        font-size: 10px;
    }
    label{
        font-size: 10px;
        line-height: 25px;
        position: absolute;
        margin-left: 10px;
    }
    input{
        margin:20px 0 0 7em;
        width: 45%;
        height: 20px;
    }  
    .result{
    font-size: 10px;
    margin-top: 10px;
    display: block;
    margin-left: 70px;
    }
    #Metric, #Imperial{
        font-size: 10px !important;
        margin-left: 40px !important;
    }
    #btn{
        width: 50%;
        height: 30px;
        margin: 20px 0 0 40px;
        font-size: 10px;
    }
}

@media (orientation: landscape) and (max-width: 1300px)  { /* smartphones, iPhone, portrait 480x320 phones */ 
    body{
        width: 100%;
        height: 100vh;
    }
    .container {
            display: flex;
        width: 90vw;
        height: 100vh;
        margin: auto;
        margin-top: 40px;
    }
    .cover{
        width: 100%;
        height: 100%;
        display: flex;
    }
    .img{
        width: 100%;
        height: 100%;
    }
    .form{
        width: 100%;
        height: 100%;
    }
    .img h1{
        margin: 15em 0 0  25px;
        font-size: 15px;
    }
    label{
        font-size: 15px;
        line-height: 25px;
        position: absolute;
        margin-left: 20px;
    }
    input{
        margin:20px 0 0 11em;
        width: 45%;
        height: 30px;
    }  
    .result{
    font-size: 20px;
    margin-top: 10px;
    display: block;
    margin-left: 70px;
    }
    #Metric, #Imperial{
        font-size: 10px !important;
        margin-left: 60px !important;
    }
    #btn{
        width: 70%;
        height: 30px;
        margin: 7px 0 0 70px;
        font-size: 15px;
    }
}

@media (min-width: 357px) and (max-width: 593px)  { 
    .container {
        display: flex;
        flex-direction: column;
    width: 90vw;
    height: 100vh;
    margin: auto;
    margin-top: 40px;
}
.cover{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.img{
    width: 100%;
    height: 100%;
}
.form{
    width: 100%;
    height: 140%;
display: flex;
align-items: center;
}
.img h1{
    margin: 3em 0 0  30px;
    font-size: 10px;
}
label{
    font-size: 10px;
    line-height: 25px;
    position: absolute;
    margin-left: 3px;
}
input{
    margin:20px 0 0 6em;
    width: 75%;
    height: 30px;
}  
.result{
font-size: 15px;
margin-top: 10px;
display: block;
margin-left: 70px;
}
#Metric, #Imperial{
    font-size: 10px !important;
    margin-left: 40px !important;
}
#btn{
    width: 60%;
    height: 40px;
    margin: 20px 0 0 40px;
    font-size: 10px;
}

}
