@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 20px;
  display: flex;
  font-family: "Roboto", sans-serif;
  background: #ababab;
  justify-content: center;
  align-items: center;
}
.burger_pic {
    width: 30px;
    height: 50px;
    margin: 25px 0 0 6em;
    background: url(../assets/3dotsicon.jpg) center center/cover no-repeat;
  }
.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  border-radius: 30px;
  width: 40%;
  height: 700px;
  background-color: white;
}
#name {
  font-weight: bold;
  line-height: 63px;
}
#web {
  font-weight: 400;
  color: #78858f;
}
.top_nav {
  width: 70vw;
  display: flex;
  padding: 30px;
}

.pic {
  width: 90px;
  height: 90px;
  margin-left: 30px;
  background: url(../assets/avatar5.png) center center/cover no-repeat;
  border-radius: 50px;
}
.stacks{
  display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
}
.stacks h5{
  font-family: 'Roboto';
font: bold;
color: #FFFFFF;
}
.react{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin: 15px 40px;
width: 75px;
padding: 10px 20px;
height: 37px;
background: #EB3349;
border-radius: 6px;
}
.js{
  display: flex;
  padding: 10px 20px;
flex-direction: row;
justify-content: center;
align-items: center;
margin: 15px 15px;
width: 100px;
height: 37px;
background: #EB3349;
border-radius: 4px;
}
.angular{
  display: flex;
flex-direction: row;
padding:10px 20px;
justify-content: center;
align-items: center;
margin: 15px 15px;
width: 85px;
height: 37px;
background: #EB3349;
border-radius: 4px;

}
.pic7 {
  width: 90px;
  height: 90px;
  margin-left: 30px;
  background: url(../assets/avatar7.png) center center/cover no-repeat;
  border-radius: 50px;
}
.img_IG{
  display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
}
.img_IG h3{
  margin-top:2.5em;
  font-size: 25px;
  padding-left: 10px;
}
.img_IG img{
  margin:4em 0 0  3em;
  width: 27px;
}
#share, #chat{
  margin-left: 30px !important;
}
.name {
  margin-left: 2em;
}
.body_image {
  width: 100%;
  height: 250px;
  margin-top: 30px;
  background: url(../assets/unsplash_5.png) center center/cover no-repeat;
}
.body_text h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 49px;
    line-height: 58px;
}
.body_text{
padding: 20px 0 0 40px;
width: 100%;
height: 112px;
background: #FFFFFF;
border-radius: 20px;
}
.body_text2{
  padding: 20px 0 0 40px;
height: 112px;
background: #FFFFFF;
border-radius: 20px;
}
.body_text h2{
  font-family: 'Roboto';
  font-style: normal;
  font-size: 35px;
  line-height: 58px;
}
.footer {
  margin-left: 40px;
  margin-top: 40px;
}
#btn{
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    padding: 4px;
}
.footer h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  margin-top: 40px;
  line-height: 23px;
  letter-spacing: 0.5px;
  color: #78858f;
}
